In [1]:
import os

if os.path.basename(os.getcwd()) == 'notebooks':
    os.chdir('..')
    
os.getcwd()

'/home/zack/personal/prediction_market_tools'

In [2]:
import pandas as pd

In [3]:
p = pd.read_csv('data/raw/predsnprices.csv')

In [4]:
from src import expected_value

In [5]:
p, latest_p = expected_value.prep_prices_csv(p)

/home/zack/personal/prediction_market_tools/src/expected_value.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest_p["buyYes"] = latest_p.myBet > latest_p.yesPrice
/home/zack/miniconda3/envs/preds/lib/python3.9/site-packages/pandas/core/frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/home/zack/personal/prediction_market_tools/src/expected_value.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest_p["expected_value"] = (latest_p.myp * latest_p.mktq) - (

In [6]:
latest_p

,symbol,date,yesPrice,noPrice,myBet,purchase,qty,Unnamed: 7,Unnamed: 8,Unnamed: 9,age,buyYes,mktp,myp,mktq,myq,expected_value
9,CASE-038,2021-09-14 00:00:00-04:00,0.07,0.95,0.05,NaN,NaN,NaN,NaN,NaN,17 days 16:04:07.576989,False,0.95,0.95,0.05,0.05,0.00
14,CASE-039,2021-09-15 00:00:00-04:00,0.06,NaN,0.05,NaN,NaN,NaN,NaN,NaN,16 days 16:04:07.576989,False,NaN,0.95,NaN,0.05,NaN
16,CASE-040,2021-09-16 00:00:00-04:00,0.98,0.03,1.00,NaN,NaN,NaN,NaN,NaN,15 days 16:04:07.576989,True,0.98,1.00,0.02,0.00,0.02
18,WKCASE-004,2021-09-16 00:00:00-04:00,0.99,0.02,1.00,NaN,NaN,NaN,NaN,NaN,15 days 16:04:07.576989,True,0.99,1.00,0.01,0.00,0.01
20,CASE-041,2021-09-17 00:00:00-04:00,0.50,0.50,0.70,NaN,NaN,NaN,NaN,NaN,14 days 16:04:07.576989,True,0.50,0.70,0.50,0.30,0.20
21,CASE-042,2021-09-17 00:00:00-04:00,0.34,0.66,0.25,NaN,NaN,NaN,NaN,NaN,14 days 16:04:07.576989,False,0.66,0.75,0.34,0.25,0.09
22,CASE-042,2021-09-17 00:00:00-04:00,0.81,0.21,0.75,NaN,NaN,NaN,NaN,NaN,14 days 16:04:07.576989,False,0.21,0.25,0.79,0.75,0.04
23,CASE-042,2021-09-17 00:00:00-04:00,NaN,0.65,0.90,NaN,NaN,NaN,NaN,NaN,14 days 16:04:07.576989,False,0.65,0.10,0.35,0.90,-0.55
28,RAINNYC-009,2021-09-20 00:00:00-04:00,NaN,0.85,0.10,NaN,NaN,NaN,NaN,NaN,11 days 16:04:07.576989,False,0.85,0.90,0.15,0.10,0.05
29,CASE-043,2021-09-20 00:00:00-04:00,0.05,NaN,0.01,NaN,NaN,NaN,NaN,NaN,11 days 16:04:07.576989,False,NaN,0.99,NaN,0.01,NaN
30,NHIGH-047,2021-09-20 00:00:00-04:00,0.01,0.01,0.55,NaN,NaN,NaN,NaN,NaN,11 days 16:04:07.576989,True,0.01,0.55,0.99,0.45,0.54
31,NHIGH-051,2021-09-22 00:00:00-04:00,0.79,0.24,0.90,NaN,NaN,NaN,NaN,NaN,9 days 16:04:07.576989,True,0.79,0.90,0.21,0.10,0.11
34,RAINNYC-013,2021-09-23 00:00:00-04:00,NaN,NaN,0.35,NaN,NaN,NaN,NaN,NaN,8 days 16:04:07.576989,False,NaN,0.65,NaN,0.35,NaN
35,RAINNYC-013,2021-09-23 00:00:00-04:00,0.09,0.93,0.20,NaN,NaN,NaN,NaN,NaN,8 days 16:04:07.576989,True,0.09,0.20,0.91,0.80,0.11
39,CASE-046,2021-09-24 00:00:00-04:00,0.01,0.99,0.05,NaN,NaN,NaN,NaN,NaN,7 days 16:04:07.576989,True,0.01,0.05,0.99,0.95,0.04
40,NHIGH-053,2021-09-24 00:00:00-04:00,0.99,0.01,0.01,NaN,NaN,NaN,NaN,NaN,7 days 16:04:07.576989,False,0.01,0.99,0.99,0.01,0.98
42,NHIGH-008,2021-09-24 00:00:00-04:00,0.88,0.14,0.90,NaN,NaN,NaN,NaN,NaN,7 days 16:04:07.576989,True,0.88,0.90,0.12,0.10,0.02
43,CASE-047,2021-09-24 00:00:00-04:00,0.09,0.93,0.10,NaN,NaN,NaN,NaN,NaN,7 days 16:04:07.576989,True,0.09,0.10,0.91,0.90,0.01
45,LCASE-001,2021-09-30 00:00:00-04:00,0.03,0.99,0.01,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,False,0.99,0.99,0.01,0.01,0.00
46,VAXX-006,2021-09-30 00:00:00-04:00,0.12,0.98,0.05,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,False,0.98,0.95,0.02,0.05,-0.03
47,NYSCHL-001,2021-09-30 00:00:00-04:00,0.95,0.07,0.95,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,False,0.07,0.05,0.93,0.95,-0.02
48,VOHC-001,2021-09-30 00:00:00-04:00,0.30,0.74,0.15,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,False,0.74,0.85,0.26,0.15,0.11
49,KIDVAX-001,2021-09-30 00:00:00-04:00,0.60,0.45,0.70,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,True,0.60,0.70,0.40,0.30,0.10
50,LCASE-002,2021-09-30 00:00:00-04:00,0.08,0.95,0.10,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,True,0.08,0.10,0.92,0.90,0.02
51,FLUV-001,2021-09-30 00:00:00-04:00,0.09,0.96,0.10,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,True,0.09,0.10,0.91,0.90,0.01
52,VAXX-015,2021-09-30 00:00:00-04:00,0.90,0.34,0.75,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,False,0.34,0.25,0.66,0.75,-0.09
53,CASELOW-001,2021-09-30 00:00:00-04:00,0.75,0.26,0.70,NaN,NaN,NaN,NaN,NaN,1 days 16:04:07.576989,False,0.26,0.30,0.74,0.70,0.04

In [7]:
from src import kalshi

In [8]:
k = kalshi.Kalshi()

In [9]:
k.login()

In [10]:
markets = k.select_markets_by_ticker(latest_p.symbol)
markets

,id,title,category,tags,ranged_group_name,image_url,min_tick_size,settle_details,settlement_sources,ticker_name,...,yes_ask,last_price,previous_yes_bid,previous_yes_ask,previous_price,volume,recent_volume,open_interest,result,no_ask
0,11e5e5bf-d342-48ee-b1d0-cbf11ed34992,"Will there be over 160,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-038,...,0.01,0.01,0.00,0.01,0.01,8532,3464,5864,no,1.00
1,32f3aaa7-dc08-47f4-9b43-c5c47b47ae1b,"Will there be over 150,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-039,...,0.01,0.01,0.00,0.01,0.01,7638,4200,3982,no,1.00
2,b9689b80-9810-4bbd-b48a-8c637be5f056,"Will there be over 140,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-040,...,1.00,0.98,0.99,1.00,0.98,5748,0,1574,yes,0.01
3,bbfa850b-811e-4a68-b3b1-6ccd5b6ac9d3,"Will there be over 980,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases, Weekly]",The total sum of reported new COVID-19 cases p...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the total number of reported new COVID-19 c...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,WKCASE-004,...,1.00,0.99,0.99,1.00,0.99,15978,0,11516,yes,0.01
4,257bebb5-1641-4a27-882d-bab2bfe06b5f,"Will there be over 130,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-041,...,1.00,0.99,0.99,1.00,0.99,4572,4572,4572,yes,0.01
5,df5ada35-1129-43e2-a775-e91acc172d8f,"Will there be over 140,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-042,...,1.00,0.76,0.99,1.00,0.76,580,0,556,yes,0.01
6,df5ada35-1129-43e2-a775-e91acc172d8f,"Will there be over 140,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-042,...,1.00,0.76,0.99,1.00,0.76,580,0,556,yes,0.01
7,df5ada35-1129-43e2-a775-e91acc172d8f,"Will there be over 140,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-042,...,1.00,0.76,0.99,1.00,0.76,580,0,556,yes,0.01
8,1459b052-de7f-4336-aacf-081bba01c54b,Will it rain in New York City on Tuesday?,Climate and Weather,[Rain],The number of inches of precipitation recorded...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of inches of precipitation recor...,[{'url': 'https://www.weather.gov/wrh/Climate?...,RAINNYC-009,...,1.00,0.99,0.99,1.00,0.99,7472,7372,6808,yes,0.01
9,b18273c3-1dab-4dcc-aa55-96caf7ba42e6,"Will there be over 140,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-043,...,0.01,0.01,0.00,0.01,0.01,1522,1522,1522,no,1.00
10,bf6e42be-352a-4697-9ffb-be4371dd3ef5,Will the high in New York City be over 76째 on ...,Climate and Weather,"[Climate, Temperature, New York, Daily]",The highest temperature recorded in Central Pa...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the highest temperature recorded in Central...,[{'url': 'https://www.weather.gov/wrh/Climate?...,NHIGH-047,...,0.01,0.01,0.00,0.01,0.01,5614,5558,5556,no,1.00
11,040049eb-d071-4a4f-96e2-c0ba36c3115f,Will the high in New York City be over 76째 on ...,Climate and Weather,[Weather],The highest temperature recorded in Central P...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the highest temperature recorded in Central...,[{'url': 'https://www.weather.gov/wrh/Climate?...,NHIGH-051,...,1.00,0.99,0.99,1.00,0.99,6018,4738,5998,yes,0.01
12,dd6dd0eb-65ca-4783-8565-c7feaf9ff1ff,Will it rain more than 1 inch in New York City...,Climate and Weather,[Rain],The number of inches of precipitation recorde...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of inches of precipitation recor...,[{'url': 'https://www.weather.gov/wrh/Climate?...,RAINNYC-013,...,0.02,0.01,0.00,0.02,0.01,6802,2008,5322,no,1.00
13,dd6dd0eb-65ca-4783-8565-c7feaf9ff1ff,Will it rain more than 1 inch in New York City...,Climate and Weather,[Rain],The number of inches of precipitation recorde...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of inches of precipitation recor...,[{'url': 'https://www.weather.gov/wrh/Climate?...,RAINNYC-013,...,0.02,0.01,0.00,0.02,0.01,6802,2008,5322,no,1.00
14,f1877a18-caca-44a3-aada-8ad3441760aa,"Will there be over 130,000 new COVID-19 cases ...",COVID-19,[Cases],The number of new cases of COVID-19 published...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-046,...,0.02,0.05,0.00,0.02,0.05,2586,2096,2196,no,1.00
15,cb2db6c7-62db-4f21-8f30-351fa6391ec1,Will the high in New York City be over 70째 on ...,Climate and Weather,[Weather],The highest temperature recorded in Central P...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the highest temperature recorded in Central...,[{'url': 'https://www.weather.gov/wrh/Climate?...,NHIGH-053,...,1.00,0.99,0.99,1.00,0.99,9840,3522,4072,yes,0.01
16,3048d03f-e3cb-4b08-b82d-7dcca53918fe,Will the high in New York City be over 93째 on ...,Climate and Weather,"[Climate, Temperature, New York, Daily]",The highest temperature recorded in Central Pa...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the highest temperature recorded in Central...,[{'url': 'https://w2.weather.gov/climate/getcl...,NHIGH-008,...,1.00,0.99,0.00,0.00,0.00,57622,0,23948,yes,0.01
17,567880ef-01e5-4c26-b9cc-a44b9e5e9404,"Will there be over 130,000 new COVID-19 cases ...",COVID-19,[Cases],The number of new cases of COVID-19 published...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-047,...,1.00,0.99,0.99,1.00,0.99,6862,3886,2502,yes,0.01
18,654e1b59-9979-403d-af50-35434a440e1b,"Will there be a day with at least 200,000 new ...",COVID-19,"[COVID-19, Cases, Minimum]",The reported number of new cases of COVID-19 p...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of reported new COVID-19 cases i...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,LCASE-001,...,0.02,0.01,0.01,0.03,0.03,142982,778,20476,,0.99
19,539b6ac1-5cf1-4cba-976c-01a636c6913a,Will over 225 million Americans be vaccinated ...,COVID-19,"[vaccines, public health, coronavirus, cdc, he...",The number of people reported as receiving at ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,"If over 225,000,000 Americans are reported by ...",[{'url': 'https://covid.cdc.gov/covid-data-tra...,VAXX-006,...,0.12,0.10,0.07,0.09,0.09,186684,2472,35490,,0.90
20,c549ccac-ad50-4f41-a1d1-771745ee97e5,Will New York public schools remain fully open...,COVID-19,"[New York, Education]",The reopening plans of the New York City publi...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If New York City public schools remain fully o...,"[{'url': 'https://www.schools.nyc.gov/', 'name...",NYSCHL-001,...,0.95,0.95,0.93,0.95,0.95,5400,0,2910,,0.07
21,2f485e17-27ac-4337-ad04-d63a9fc578ad,Will the CDC identify a variant of high conseq...,COVID-19,"[COVID-19, Variant]",The CDCs SARS-CoV-2 Variant Classifications.,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the CDC identifies a variant of high conseq...,[{'url': 'https://www.cdc.gov/coronavirus/2019...,VOHC-001,...,0.30,0.30,0.27,0.30,0.29,3520,20,2216,,0.74
22,149b0c78-74a2-45ef-9b93-995b45362b24,Will the FDA authorize a COVID-19 vaccine for ...,COVID-19,[Vaccine],Press announcements issued by the U.S. Food an...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If a press announcement authorizing a COVID-19...,[{'url': 'https://www.fda.gov/news-events/fda-...,KIDVAX-001,...,0.69,0.70,0.57,0.60,0.60,31016,1892,9126,,0.33
23,4dd57553-dd3c-4308-a284-9b319c5cce60,"Will there be a day with at least 200,000 new ...",COVID-19,"[COVID-19, Cases, Minimum]",The reported number of new cases of COVID-19 p...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of reported new COVID-19 cases i...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,LCASE-002,...,0.08,0.09,0.05,0.08,0.09,10300,0,6262,,0.95
24,aa34fbc6-7514-484d-af16-888fd70e949c,Will the FDA give emergency authorization for ...,COVID-19,"[Covid-19, fluvoxamine]",Press announcements issued by the FDA Newsroom.,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the FDA issues a press announcement authori...,[{'url': 'https://www.fda.gov/news-events/fda-...,FLUV-001,...,0.09,0.08,0.07,0.09,0.08,5940,0,4110,,0.93
25,3ad1c6c1-1cc1-4920-8a34-50766ef1e22b,Will more than 215 million Americans be vaccin...,Health,[COVID-19],The number of people reported as receiving at ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If over 215 million Americans are reported as ...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,VAXX-015,...,0.97,0.90,0.95,0.97,0.97,17490,7242,6500,,0.05
26,58fe7d64-2fd9-4a74-8ead-fcb282458dd3,Will there be a day where the seven day averag...,COVID-19,[Cases],The reported seven-day moving averages as publ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If there is a day between Issuance and Decembe...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASELOW-001,...,0.75,0.78,0.74,0.75,0.78,1094,354,612,,0.26

In [11]:
bets = latest_p[['symbol', 'date', 'age','myBet']].merge(markets, how='left', left_on='symbol', right_on='ticker_name')

In [28]:
bets['time_til_close'] = bets.close_date - bets.date.dt.tz_convert(tz=bets.close_date.dt.tz)

In [12]:
bets = bets[bets.status == 'active']

In [16]:
bets

,symbol,date,age,myBet,id,title,category,tags,ranged_group_name,image_url,...,yes_ask,last_price,previous_yes_bid,previous_yes_ask,previous_price,volume,recent_volume,open_interest,result,no_ask
26,LCASE-001,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.01,654e1b59-9979-403d-af50-35434a440e1b,"Will there be a day with at least 200,000 new ...",COVID-19,"[COVID-19, Cases, Minimum]",The reported number of new cases of COVID-19 p...,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.02,0.01,0.01,0.03,0.03,142982,778,20476,,0.99
27,VAXX-006,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.05,539b6ac1-5cf1-4cba-976c-01a636c6913a,Will over 225 million Americans be vaccinated ...,COVID-19,"[vaccines, public health, coronavirus, cdc, he...",The number of people reported as receiving at ...,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.12,0.10,0.07,0.09,0.09,186684,2472,35490,,0.90
28,NYSCHL-001,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.95,c549ccac-ad50-4f41-a1d1-771745ee97e5,Will New York public schools remain fully open...,COVID-19,"[New York, Education]",The reopening plans of the New York City publi...,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.95,0.95,0.93,0.95,0.95,5400,0,2910,,0.07
29,VOHC-001,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.15,2f485e17-27ac-4337-ad04-d63a9fc578ad,Will the CDC identify a variant of high conseq...,COVID-19,"[COVID-19, Variant]",The CDCs SARS-CoV-2 Variant Classifications.,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.30,0.30,0.27,0.30,0.29,3520,20,2216,,0.74
30,KIDVAX-001,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.70,149b0c78-74a2-45ef-9b93-995b45362b24,Will the FDA authorize a COVID-19 vaccine for ...,COVID-19,[Vaccine],Press announcements issued by the U.S. Food an...,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.69,0.70,0.57,0.60,0.60,31016,1892,9126,,0.33
31,LCASE-002,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.10,4dd57553-dd3c-4308-a284-9b319c5cce60,"Will there be a day with at least 200,000 new ...",COVID-19,"[COVID-19, Cases, Minimum]",The reported number of new cases of COVID-19 p...,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.08,0.09,0.05,0.08,0.09,10300,0,6262,,0.95
32,FLUV-001,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.10,aa34fbc6-7514-484d-af16-888fd70e949c,Will the FDA give emergency authorization for ...,COVID-19,"[Covid-19, fluvoxamine]",Press announcements issued by the FDA Newsroom.,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.09,0.08,0.07,0.09,0.08,5940,0,4110,,0.93
33,VAXX-015,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.75,3ad1c6c1-1cc1-4920-8a34-50766ef1e22b,Will more than 215 million Americans be vaccin...,Health,[COVID-19],The number of people reported as receiving at ...,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.97,0.90,0.95,0.97,0.97,17490,7242,6500,,0.05
34,CASELOW-001,2021-09-30 00:00:00-04:00,1 days 16:04:07.576989,0.70,58fe7d64-2fd9-4a74-8ead-fcb282458dd3,Will there be a day where the seven day averag...,COVID-19,[Cases],The reported seven-day moving averages as publ...,https://kalshi-public-images.s3.us-east-2.amaz...,...,0.75,0.78,0.74,0.75,0.78,1094,354,612,,0.26

In [17]:
bets[['symbol', 'yes_bid', 'no_ask', 'yes_ask', 'last_price', 'myBet']]

         symbol  yes_bid  no_ask  yes_ask  last_price  myBet
26    LCASE-001     0.01    0.99     0.02        0.01   0.01
27     VAXX-006     0.10    0.90     0.12        0.10   0.05
28   NYSCHL-001     0.93    0.07     0.95        0.95   0.95
29     VOHC-001     0.26    0.74     0.30        0.30   0.15
30   KIDVAX-001     0.67    0.33     0.69        0.70   0.70
31    LCASE-002     0.05    0.95     0.08        0.09   0.10
32     FLUV-001     0.07    0.93     0.09        0.08   0.10
33     VAXX-015     0.95    0.05     0.97        0.90   0.75
34  CASELOW-001     0.74    0.26     0.75        0.78   0.70

In [18]:
bets['buyYes'] = bets.myBet >= bets.yes_ask
bets['buyNo'] = bets.myBet <= bets.yes_bid
bets['buyable'] = bets.buyYes | bets.buyNo

In [19]:
bets[['symbol', 'yes_bid', 'no_ask', 'yes_ask', 'last_price', 'myBet', 'buyYes', 'buyNo', 'buyable']]

,symbol,yes_bid,no_ask,yes_ask,last_price,myBet,buyYes,buyNo,buyable
26,LCASE-001,0.01,0.99,0.02,0.01,0.01,False,True,True
27,VAXX-006,0.10,0.90,0.12,0.10,0.05,False,True,True
28,NYSCHL-001,0.93,0.07,0.95,0.95,0.95,True,False,True
29,VOHC-001,0.26,0.74,0.30,0.30,0.15,False,True,True
30,KIDVAX-001,0.67,0.33,0.69,0.70,0.70,True,False,True
31,LCASE-002,0.05,0.95,0.08,0.09,0.10,True,False,True
32,FLUV-001,0.07,0.93,0.09,0.08,0.10,True,False,True
33,VAXX-015,0.95,0.05,0.97,0.90,0.75,False,True,True
34,CASELOW-001,0.74,0.26,0.75,0.78,0.70,False,True,True

In [20]:
bets = bets[bets.buyable]
bets['myp'] = bets.myBet.where(bets.buyYes, 1 - bets.myBet)  
bets['mktp'] = bets.yes_ask.where(bets.buyYes, 1 - bets.yes_bid)
bets[["mktq", "myq"]] = 1 - bets[["mktp", "myp"]]
bets["expected_value"] = (bets.myp * bets.mktq) - (
    bets.myq * bets.mktp
)

In [30]:
bets[['symbol', 'yes_bid', 'no_ask', 'yes_ask', 'last_price', 'myBet', 'buyYes', 'buyNo', 'buyable', 'expected_value', 'age', 'time_til_close']]

,symbol,yes_bid,no_ask,yes_ask,last_price,myBet,buyYes,buyNo,buyable,expected_value,age,time_til_close
26,LCASE-001,0.01,0.99,0.02,0.01,0.01,False,True,True,0.00,1 days 16:04:07.576989,5 days 20:00:00
27,VAXX-006,0.10,0.90,0.12,0.10,0.05,False,True,True,0.05,1 days 16:04:07.576989,31 days 20:00:00
28,NYSCHL-001,0.93,0.07,0.95,0.95,0.95,True,False,True,0.00,1 days 16:04:07.576989,15 days 10:00:00
29,VOHC-001,0.26,0.74,0.30,0.30,0.15,False,True,True,0.11,1 days 16:04:07.576989,152 days 20:00:00
30,KIDVAX-001,0.67,0.33,0.69,0.70,0.70,True,False,True,0.01,1 days 16:04:07.576989,35 days 11:00:00
31,LCASE-002,0.05,0.95,0.08,0.09,0.10,True,False,True,0.02,1 days 16:04:07.576989,39 days 21:00:00
32,FLUV-001,0.07,0.93,0.09,0.08,0.10,True,False,True,0.01,1 days 16:04:07.576989,32 days 17:00:00
33,VAXX-015,0.95,0.05,0.97,0.90,0.75,False,True,True,0.20,1 days 16:04:07.576989,3 days 20:00:01
34,CASELOW-001,0.74,0.26,0.75,0.78,0.70,False,True,True,0.04,1 days 16:04:07.576989,62 days 12:00:00

In [22]:
# todo: check order book?