In [1]:
import os

if os.path.basename(os.getcwd()) == 'notebooks':
    os.chdir('..')
    
os.getcwd()

'/home/zack/personal/prediction_market_tools'

In [2]:
from src import kalshi

In [3]:
k = kalshi.Kalshi()

In [4]:
k.login()

In [5]:
positions = k.get_positions()
positions

,user_id,market_id,position,position_cost,resting_orders_count,total_cost,realized_pnl,fees_paid,volume,final_position,final_position_cost
0,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,2f485e17-27ac-4337-ad04-d63a9fc578ad,-98,6468,0,6468,0,154,98,0,0
1,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,c549ccac-ad50-4f41-a1d1-771745ee97e5,125,10500,0,10500,0,119,125,0,0
2,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,b9689b80-9810-4bbd-b48a-8c637be5f056,5,465,0,465,0,3,5,0,0

In [6]:
trades = k.get_trades()
trades

,id,market_id,order_id,is_taker,is_yes,status,price,count,create_date
0,361f133e-aac2-405f-9192-eb31ce5ffd7f,b9689b80-9810-4bbd-b48a-8c637be5f056,4da35be4-09b0-411a-945f-0d74eed44a26,True,True,confirmed,93,5,2021-09-15T18:05:58.783717Z
1,0c512704-08c0-4c92-a1fe-188bba63bb20,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,113,2021-09-14T22:22:27.403798Z
2,4948b1e1-bd23-4da5-b97d-9711f9d7e1ef,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,8,2021-09-14T22:22:27.403798Z
3,90f63f38-05b4-49db-ad16-afce288965cf,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,4,2021-09-14T22:22:27.403798Z
4,e71cb3fa-c13c-45da-b95f-c759fc78a95a,2f485e17-27ac-4337-ad04-d63a9fc578ad,bd605c5e-a955-4966-a1c0-794f9670d4bd,True,False,confirmed,66,98,2021-09-14T22:15:15.026468Z

In [7]:
positions.market_id

0    2f485e17-27ac-4337-ad04-d63a9fc578ad
1    c549ccac-ad50-4f41-a1d1-771745ee97e5
2    b9689b80-9810-4bbd-b48a-8c637be5f056
Name: market_id, dtype: object

In [8]:
k.select_markets(positions.market_id)

,id,title,category,tags,ranged_group_name,image_url,min_tick_size,settle_details,settlement_sources,ticker_name,...,yes_bid,yes_ask,last_price,previous_yes_bid,previous_yes_ask,previous_price,volume,recent_volume,open_interest,result
0,2f485e17-27ac-4337-ad04-d63a9fc578ad,Will the CDC identify a variant of high conseq...,COVID-19,"[COVID-19, Variant]",The CDC’s SARS-CoV-2 Variant Classifications.,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the CDC identifies a variant of high conseq...,[{'url': 'https://www.cdc.gov/coronavirus/2019...,VOHC-001,...,32,36,34,33,36,34,2402,0,2060,
1,c549ccac-ad50-4f41-a1d1-771745ee97e5,Will New York public schools remain fully open...,COVID-19,"[New York, Education]",The reopening plans of the New York City publi...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If New York City public schools remain fully o...,"[{'url': 'https://www.schools.nyc.gov/', 'name...",NYSCHL-001,...,85,86,85,85,86,85,4742,190,2846,
2,b9689b80-9810-4bbd-b48a-8c637be5f056,"Will there be over 140,000 new COVID-19 cases ...",COVID-19,"[COVID, Cases]",The number of new cases of COVID-19 published ...,https://kalshi-public-images.s3.us-east-2.amaz...,$0.01,If the number of new cases of COVID-19 reporte...,[{'url': 'https://covid.cdc.gov/covid-data-tra...,CASE-040,...,99,100,98,97,99,98,5748,3604,1574,