In [1]:
import os

if os.path.basename(os.getcwd()) == 'notebooks':
    os.chdir('..')
    
os.getcwd()

'/home/zack/personal/prediction_market_tools'

In [2]:
url = "https://trading-api.kalshi.com/v1/"

In [3]:
import requests

In [4]:
from dotenv import load_dotenv
load_dotenv()

True

In [5]:
config_keys = ["KALSHI_EMAIL", "KALSHI_PASSWORD"]

In [6]:
config = { key: os.environ[key] for key in config_keys}

In [8]:
s = requests.Session()
s.headers.update({'Content-Type': "application/json"})

In [9]:
payload = dict(email=config['KALSHI_EMAIL'], password=config['KALSHI_PASSWORD'])
r = s.post('https://trading-api.kalshi.com/v1/log_in', json=payload)

In [10]:
r

In [11]:
auth = r.json()

In [12]:
s.headers.update({'Authorization': auth['token']})

In [18]:
user_id = auth['user_id']
r = s.get(f'https://trading-api.kalshi.com/v1/users/{user_id}/positions')

In [19]:
r

In [20]:
import pandas as pd

In [22]:
pd.DataFrame.from_records(r.json()['market_positions'])

,user_id,market_id,position,position_cost,resting_orders_count,total_cost,realized_pnl,fees_paid,volume,final_position,final_position_cost
0,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,2f485e17-27ac-4337-ad04-d63a9fc578ad,-98,6468,0,6468,0,154,98,0,0
1,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,c549ccac-ad50-4f41-a1d1-771745ee97e5,125,10500,0,10500,0,119,125,0,0
2,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,b9689b80-9810-4bbd-b48a-8c637be5f056,5,465,0,465,0,3,5,0,0

In [23]:
user_id = auth['user_id']
r = s.get(f'https://trading-api.kalshi.com/v1/users/{user_id}/trades')

In [25]:
pd.DataFrame.from_records(r.json()['trades'])

,id,market_id,order_id,is_taker,is_yes,status,price,count,create_date
0,361f133e-aac2-405f-9192-eb31ce5ffd7f,b9689b80-9810-4bbd-b48a-8c637be5f056,4da35be4-09b0-411a-945f-0d74eed44a26,True,True,confirmed,93,5,2021-09-15T18:05:58.783717Z
1,0c512704-08c0-4c92-a1fe-188bba63bb20,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,113,2021-09-14T22:22:27.403798Z
2,4948b1e1-bd23-4da5-b97d-9711f9d7e1ef,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,8,2021-09-14T22:22:27.403798Z
3,90f63f38-05b4-49db-ad16-afce288965cf,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,4,2021-09-14T22:22:27.403798Z
4,e71cb3fa-c13c-45da-b95f-c759fc78a95a,2f485e17-27ac-4337-ad04-d63a9fc578ad,bd605c5e-a955-4966-a1c0-794f9670d4bd,True,False,confirmed,66,98,2021-09-14T22:15:15.026468Z