In [1]:
import os

if os.path.basename(os.getcwd()) == 'notebooks':
    os.chdir('..')
    
os.getcwd()

'/home/zack/personal/prediction_market_tools'

In [2]:
import pandas as pd
import numpy as np

In [3]:
p = pd.read_csv('data/raw/predsnprices.csv')

In [4]:
from src import expected_value

In [5]:
p, latest_p = expected_value.prep_prices_csv(p)

In [6]:
p

        symbol       date  yesPrice  noPrice  myBet purchase    qty
0    lcase-001 2021-09-02      0.58     0.44   0.72      NaN    NaN
1    lcase-001 2021-09-09      0.19     0.82   0.35      NaN    NaN
2     voch-001 2021-09-09      0.35     0.66   0.25      NaN    NaN
3   nyschl-001 2021-09-09      0.84     0.18   0.90      NaN    NaN
4   wkcase-004 2021-09-13      0.57     0.45   0.63      NaN    NaN
5    lcase-001 2021-09-14      0.11     0.91   0.15      NaN    NaN
6     voch-001 2021-09-14      0.36     0.66   0.25        n   98.0
7   nyschl-001 2021-09-14      0.84     0.17   0.90        y  125.0
8   wkcase-004 2021-09-14      0.74     0.29    NaN      NaN    NaN
9     case-038 2021-09-14      0.07     0.95   0.05      NaN    NaN
10    case-039 2021-09-14      0.50     0.50   0.55      NaN    NaN
11    case-039 2021-09-14      0.53     0.49   0.40      NaN    NaN

In [7]:
latest_p

,symbol,date,yesPrice,noPrice,myBet,purchase,qty,buyYes,mktp,myp,mktq,myq,expected_value
5,lcase-001,2021-09-14,0.11,0.91,0.15,NaN,NaN,True,0.11,0.15,0.89,0.85,0.04
6,voch-001,2021-09-14,0.36,0.66,0.25,n,98.0,False,0.66,0.75,0.34,0.25,0.09
7,nyschl-001,2021-09-14,0.84,0.17,0.90,y,125.0,True,0.84,0.90,0.16,0.10,0.06
9,case-038,2021-09-14,0.07,0.95,0.05,NaN,NaN,False,0.95,0.95,0.05,0.05,0.00
10,case-039,2021-09-14,0.50,0.50,0.55,NaN,NaN,True,0.50,0.55,0.50,0.45,0.05
11,case-039,2021-09-14,0.53,0.49,0.40,NaN,NaN,False,0.49,0.60,0.51,0.40,0.11

In [17]:
exp, situations = expected_value.compute_wager_expectations(latest_p.myp.values, latest_p.mktp.values,  np.ones(len(latest_p)))

In [18]:
exp

0.35000000000000014

In [19]:
situations

   hits  hit_percent    hits_p  hits_exp
0     0     0.000000  0.000191     -3.55
1     1     0.166667  0.006483     -2.55
2     2     0.333333  0.066397     -1.55
3     3     0.500000  0.253256     -0.55
4     4     0.666667  0.399150      0.45
5     5     0.833333  0.242781      1.45
6     6     1.000000  0.031742      2.45