In [1]:
import os

if os.path.basename(os.getcwd()) == 'notebooks':
    os.chdir('..')
    
os.getcwd()

'/home/zack/personal/prediction_market_tools'

In [2]:
from src import kalshi

In [3]:
k = kalshi.Kalshi()

In [4]:
k.login()

In [5]:
positions = k.get_positions()
positions

,user_id,market_id,position,position_cost,resting_orders_count,total_cost,realized_pnl,fees_paid,volume,final_position,final_position_cost,is_settled,qty
0,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,654e1b59-9979-403d-af50-35434a440e1b,0,0.0,0,552,-552,37,69,69,552,True,0
1,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,4ce3607e-5ff7-4f20-b70e-f3d6c0efb24c,0,0.0,0,6210,-6210,357,345,345,6210,True,0
2,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,567880ef-01e5-4c26-b9cc-a44b9e5e9404,0,0.0,0,8160,-8160,86,96,-96,8160,True,0
3,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,257bebb5-1641-4a27-882d-bab2bfe06b5f,0,0.0,0,0,0,0,0,0,0,True,0
4,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,2f485e17-27ac-4337-ad04-d63a9fc578ad,0,0.0,0,32804,11895,885,597,-297,19209,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,559d0323-97dd-4466-892c-3f8a9cc41fff,0,0.0,0,7500,2500,132,100,-100,7500,True,0
85,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,802435ab-4c33-47b0-840d-10908591a01a,0,0.0,0,39132,4368,273,435,-435,39132,True,0
86,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,31029f42-0323-4f55-bd47-7ae963453028,0,0.0,0,2151,2349,79,45,45,2151,True,0
87,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,91ee7b9f-be7c-441d-8b80-ef1c1ce4315d,0,0.0,0,3256,1144,60,44,44,3256,True,0
88,46ef47c2-585e-49e6-a0b2-d1fdd1f18ff4,51f1ca82-3f5b-43a6-b530-46697aa6cae9,0,0.0,0,3174,2826,106,60,60,3174,True,0

In [6]:
trades = k.get_trades()
trades

,id,market_id,order_id,is_taker,is_yes,status,price,count,create_date
0,5ea07ea7-97c5-4c27-b1ae-39c4fd091995,3811e2cc-c556-425c-9785-0f5ab5402220,5753be11-c321-43c0-b9cc-825b637b4dd1,True,True,confirmed,58,48,2021-12-17T02:07:41.850853Z
1,3e563dac-7dd7-4e53-b21b-d404bbc6d94b,857f3a1a-74e0-46e5-9234-cad007cc2e25,62563f16-f6d5-4e37-87ae-c70e10aac557,True,True,confirmed,70,44,2021-12-17T02:07:02.373021Z
2,06f974b7-6382-45b6-887e-5fc469b53066,3b96930f-fd3e-47f3-a1f2-03983f457e03,4ca7a49b-f150-4cdf-8e98-dcf3df5acb4d,True,True,confirmed,75,100,2021-12-17T02:06:19.120151Z
3,c275f69a-c2a2-452c-b43d-9aab0419a27e,40f132c0-6b33-4577-b693-0200bf45f68f,c9741024-8348-4d6f-9a3d-1860a1797547,False,True,confirmed,10,96,2021-12-16T17:17:21.195245Z
4,31aff441-31f5-421e-872d-5c15b397f148,40f132c0-6b33-4577-b693-0200bf45f68f,c9741024-8348-4d6f-9a3d-1860a1797547,False,True,confirmed,10,4,2021-12-16T17:17:21.164263Z
...,...,...,...,...,...,...,...,...,...
227,361f133e-aac2-405f-9192-eb31ce5ffd7f,b9689b80-9810-4bbd-b48a-8c637be5f056,4da35be4-09b0-411a-945f-0d74eed44a26,True,True,confirmed,93,5,2021-09-15T18:05:58.783717Z
228,0c512704-08c0-4c92-a1fe-188bba63bb20,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,113,2021-09-14T22:22:27.403798Z
229,4948b1e1-bd23-4da5-b97d-9711f9d7e1ef,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,8,2021-09-14T22:22:27.403798Z
230,90f63f38-05b4-49db-ad16-afce288965cf,c549ccac-ad50-4f41-a1d1-771745ee97e5,e37e8c13-872f-4d92-ab37-ecd79508aa12,True,True,confirmed,84,4,2021-09-14T22:22:27.403798Z
231,e71cb3fa-c13c-45da-b95f-c759fc78a95a,2f485e17-27ac-4337-ad04-d63a9fc578ad,bd605c5e-a955-4966-a1c0-794f9670d4bd,True,False,confirmed,66,98,2021-09-14T22:15:15.026468Z

In [7]:
positions.market_id

0     654e1b59-9979-403d-af50-35434a440e1b
1     4ce3607e-5ff7-4f20-b70e-f3d6c0efb24c
2     567880ef-01e5-4c26-b9cc-a44b9e5e9404
3     257bebb5-1641-4a27-882d-bab2bfe06b5f
4     2f485e17-27ac-4337-ad04-d63a9fc578ad
                      ...
84    559d0323-97dd-4466-892c-3f8a9cc41fff
85    802435ab-4c33-47b0-840d-10908591a01a
86    31029f42-0323-4f55-bd47-7ae963453028
87    91ee7b9f-be7c-441d-8b80-ef1c1ce4315d
88    51f1ca82-3f5b-43a6-b530-46697aa6cae9
Name: market_id, Length: 89, dtype: object

In [8]:
markets = k.select_markets(positions.market_id)

In [9]:
markets.columns

Index(['id', 'title', 'category', 'tags', 'ranged_group_name', 'image_url',
       'min_tick_size', 'settle_details', 'settlement_sources', 'ticker_name',
       'create_date', 'list_date', 'open_date', 'close_date',
       'expiration_date', 'status', 'expiration_value', 'description_context',
       'description_case_yes', 'description_case_no', 'yes_bid', 'yes_ask',
       'last_price', 'previous_yes_bid', 'previous_yes_ask', 'previous_price',
       'volume', 'recent_volume', 'open_interest', 'liquidity',
       'dollar_volume', 'dollar_recent_volume', 'dollar_open_interest',
       'result', 'underlying', 'ranged_group_ticker', 'frequency_in_days',
       'metrics_tags', 'mini_title', 'sub_title', 'name', 'can_close_early',
       'original_expiration_date', 'rulebook_variables', 'no_ask'],
      dtype='object')

In [10]:
markets[['ticker_name','yes_bid', 'yes_ask',
       'last_price', 'previous_yes_bid', 'previous_yes_ask', 'previous_price']]

,ticker_name,yes_bid,yes_ask,last_price,previous_yes_bid,previous_yes_ask,previous_price
0,CASEM-21OCT05-T200,0.00,0.01,0.01,0.00,0.01,0.01
1,CASEW-21NOV03-C540,0.00,0.02,0.02,0.00,0.02,0.02
2,CASED-21SEP25-T130,0.99,1.00,0.99,0.99,1.00,0.99
3,CASED-21SEP17-T130,0.99,1.00,0.99,0.99,1.00,0.99
4,COVVHC-22MAR1,0.00,0.01,0.01,0.00,0.01,0.01
...,...,...,...,...,...,...,...
84,CPI-21NOV-T0.8,0.23,0.26,0.26,0.23,0.26,0.26
85,FLUV-21DEC20,0.00,0.02,0.02,0.01,0.03,0.01
86,TSAW-21DEC12-A1.8,0.93,0.96,0.96,0.93,0.96,0.96
87,BOOSTER-21DEC13-T52,0.99,1.00,0.99,0.99,1.00,0.99
88,CASED-21DEC17-T130,0.99,1.00,0.99,0.99,1.00,0.99